html, body, div, span, applet, object, iframe,h1 ,h2 ,h3 ,h4 ,h5 ,h6 , p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%:
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%}
body {
    height: 100%;
    font: 14px/24px Arial, Tahoma, sans-serif;
    text-align: center;
    font-family: sans-serif;
    margin-left: 70px;
    margin-right: 70px;
}
h1 {
    color: rgb(66, 115, 182);
}
h2 {
    color: rgb(83, 83, 83);
}
figure img {
    border-radius: 50%;
    border-left: 3px solid  rgb(7,60,133);
    border-right: 3px solid rgb(193, 92, 3);
}







.moderator {
    padding: 30px;
    border-bottom: groove 2px;
    font-size: 80%;
}
.moderator img {
    width: 11%;
}




.spiker {
    padding-top: 20px;
    padding-left: 10%;
    
}
.spiker .all {
    padding: 10px;
    float: left;
    width: 16%;
    border-right: groove 2px;
    font-size: 80%;
}
.spiker img {
    width: 73%;
}
.spiker .last {
    padding: 10px;
    float: left;
    width: 16%;
    font-size: 80%;
}
 
 
.container .moderator .info {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: rgb(83, 83, 83) solid 1px;
    margin-left: 45%;
    margin-top: -10%;
}
.container .moderator .info .text {
    visibility: hidden;
    width: 300px;
    background-color: white;
    border: rgb(83, 83, 83);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
 }
.container .moderator .info .text: :after {
     content: " ";
     position: absolute;
     top: 50%;
     right: 100%;
     margin-top: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent black transparent transparent;
 }
.container .moderator .info:hover .container .moderator .info .text {
     visibility: visible;
 }